<ul class="list ph3">
  {% include list/item.html content="Handle the busiest traffic websites without breaking a sweat" %}
  {% include list/item.html content="Scale your jobs to thousands of servers and reduce the waiting time from days to minutes" %}
  {% include list/item.html content="Enjoy peace of mind knowing that your apps are highly available with a multi-cloud setup" %}
  {% include list/item.html content="Save a ton of cash on your cloud bill by using only the resources you need" %}
  {% include list/item.html content="Supercharge your delivery pipeline and deploy application around the clock" %}
</ul>

<div class="pt2 pb4">
  <a href="{% link _pages/training/index.html %}" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Become an expert &#8594;</a>
</div>