---
layout: default
benefits:
  - Decide which one of the dozen ways to install Kubernetes is right for your team
  - Speak the Kubernetes lingo and communicate with the rest of the industry
  - Architect micro services that scale and leverage the strength and weaknesses of the platform
  - Get up to speed quickly without drowning in the amount of incomplete/outdated documentation
---

<div class="trapezoid-1 trapezoid-2-l white pt3 pt0-ns pb5 pb4-ns">

  {% include navbar/index.html %}

  <section class="flex-ns items-start-ns ph5-l pv5-l">
    <div class="w-70-l">
      <h1 class="f1 pl3 pl4-ns pt4-l f-subheadline-l lh-solid">Mastering Kubernetes</h1>
      <h2 class="f4 normal measure-narrow lh-copy ph3 ph4-ns pb3-ns f3-l">The fastest way to become an expert in deploying applications at scale.</h2>
      <a href="#start" class="link dib blue bg-white br1 pa3 b f5 shadow-3 mt4 ml3 ph4 ml4-ns mb3">Get started &#8594;</a>
    </div>
    <div class="dn db-l i-loading-cargos absolute bottom-0 right-1"><img src="{% link assets/loading_cargos.svg %}" alt="Shipping cargo"/></div>
  </section>

  <div class="w-40 dn db-l relative">
    <div class="i-medium-cargo absolute top-0 right--1"><img src="{% link assets/medium_cargo.svg %}" alt="Shipping cargo"/></div>
  </div>

</div>

<section class="w-100 ph3 ph4-ns relative z3">
  <div id="start" class="pt3-m pt5-l flex items-center">

    <div class="w-50-l">
        <div class="dn db-l i-containers center"><img src="{% link assets/containers.svg %}" alt="Shipping containers"/></div>
    </div>

    <div class="w-50-l center">
      <h2 class="f3 navy f2-l measure-narrow">Learn Kubernetes the <span class="strike">hard</span> smart way</h2>
      <div class="measure-wide">
        <p class="lh-copy f4-l black-70">Kubernetes is particularly well known for having a steep learning curve. It's also very early days and the technology is changing a fast pace. So how do you quickly get up to speed when everything around it is moving quickly? At learnk8s we have the best resources to master Kubernetes so that you can:</p>
        <ul class="list black-70 pl0 pt2">
          {% for text in page.benefits %}
          {% include list/item.html content=text %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</section>

{% include interlude/index.html %}

<section class="pa3 pa4-ns flex-ns items-center-ns justify-center-ns w-100">

  <div class="ph3">
    <div class="content measure-wide">
      <h2 class="f3 navy f2-l">Learnk8s Academy</h2>
      <p class="f4-l lh-copy black-70 measure-wide">Learn Kubernetes online with hands-on material and instructor-led webinars. From playing to developing, testing to deploying, we'll cover it all in a way that is easy to understand. Master application deployment and scaling from the comfort of your home. There's no deadline: enjoy learning Kubernetes and solving challenges at your pace.</p>
      <a href="{% link _pages/academy/index.html %}" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Learn more &#8594;</a>
    </div>
  </div>

  <div class="i-cat-and-dog ml7-l dn db-ns"><img src="{% link assets/cat_and_dog.svg %}" alt="Learn at your own pace"/></div>

</section>

<section class="pa3 pa4-ns flex-ns items-center-ns justify-center-ns w-100 bg-evian">

  <div class="tc">
    <div class="i-whiteboard mr7-l dib"><img src="{% link assets/whiteboard.svg %}" alt="Instructor-led training"/></div>
  </div>

  <div class="ph3">
    <div class="measure-wide">
      <h2 class="f3 navy f2-l">Quickstart Kubernetes training</h2>
      <p class="f4-l lh-copy black-70">Hands-on modular courses that will train you how to deploy Kubernetes, how to get it into production, and how to operate and manage it efficiently and effectively. The training course  draws from the real world examples making it perfect to quickly get up to speed with containers and Kubernetes.</p>
      <a href="{% link _pages/training/index.html %}" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Get started &#8594;</a>
    </div>
  </div>

</section>

<section class="pa3 pa4-ns flex-ns items-center-ns justify-center-ns w-100">

  <div class="ph3">
    <div class="measure-wide">
      <h2 class="f3 navy f2-l">Enterprise-ready Kubernetes consulting</h2>
      <p class="f4-l lh-copy black-70">Have you already built a Kubernetes cluster, but want the confidence it won't die when you move into prod? Our engineers have deployed production-ready Kubernetes for the hottest start-ups and the largest Enterprises. Their wide variety of experience will enable you to get the most out of Kubernetes and make sure you avoid unnecessary issues and pitfalls.</p>
      <a href="{% link _pages/consulting/index.html %}" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Get started &#8594;</a>
    </div>
  </div>

  <div class="i-team ml7-l dn db-ns"><img src="{% link assets/team.svg %}" alt="Consulting"/></div>

</section>

{% include consultation/index.html %}

{% include footer/index.html %}