<section class="bg-weird-blue w-100 ph6-l ph4-m ph3">
  <div class="w-100 pt3 ph5-l"><h2 class="navy f3-l f3">Trusted by</h2></div>
  <div class="tc v-mid">
    <a class="mw5 dib mv3 mh3-m mh5-l v-mid" href="https://training.linuxfoundation.org/contact/partner-program" target="_blank">
      <img class="mw-100" src="/assets/trusted-by/linux-foundation-authorised-training-partner-logo.png" alt="Linux foundation logo">
    </a>
    <a class="mw5 dib mv3 mh3-m mh5-l v-mid" href="https://skillsmatter.com/" target="_blank">
      <img class="mw-100" src="/assets/trusted-by/skillsmatter-logo.png" alt="Skillsmatter logo">
    </a>
  </div>
</section>