<section class="bg-weird-blue w-100 ph6-l ph4-m ph3">
  <div class="w-100 pt3 ph5-l"><h2 class="navy f3-l f3">Trusted By:</h2></div>
  <div class="w-100 cf ph5-l pt4-l flex-m flex-s">
    <div class="fl-l w-30 pl6-l pb4-l">
      <img class="w-100" src="/assets/trusted-by/linux-foundation-authorised-training-partner-logo.png" alt="Linux foundation logo">
    </div>
    <div class="fr-l w-30 pr6-l">
      <img class="w-100" src="/assets/trusted-by/skillsmatter-logo.png" alt="Skillsmatter logo">
    </div>
  </div>
</section>