<nav class="nav cf bb-ns b--lightest-blue-ns pl3 ph0-m ph3l flex-ns items-center-ns">
  <a href="/" class="logo fl-ns w-100 mw4 mw-none-ns dib w-20-m w-10-l pa2-ns">{% include logo.svg %}</a>
  <ul class="list fl w-80-m w-90-l pa2 tr dn db-ns">
    <li class="dib ttu"><a href="/training" class="link white mh3 dib f6" title="Training">Training</a></li>
    {% if site.video_course %}
    <li class="dib ttu"><a href="/video-course" class="link white mh3 dib f6" title="Videos">Video course</a></li>
    {% endif %}
    <li class="dib ttu"><a href="/consulting" class="link white mh3 dib f6" title="Consulting">Consulting</a></li>
    <li class="dn dib-l ttu"><a href="https://blog.learnk8s.io" class="link white mh3 dib f6" title="Blog">Blog</a></li>
    <li class="dn dib-l ttu"><a href="/contact-us" class="link white mh3 dib f6" title="Contact us">Contact us</a></li>
  </ul>
</nav>