@import 'tachyons-sass/tachyons.scss';

.logo {
  fill: white;
}

.intro,
.hero,
.nav,
.content {
  position: relative;
  z-index: 10;
}

.intro::before {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #3a89c9 0%, #66a3d5 100%);
  transform: skewY(-9deg);
  transform-origin: bottom left;
}

.illustration-containers {
  left: -100%;
  bottom: 6em;
}

.interlude {
  position: relative;
  overflow: hidden;
}

.interlude .illustration {
  position: relative;
  z-index: 10;
}

.interlude::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: skewY(-5deg);
  background-color: #3a89c9;
  transform-origin: top right;
  top: 0;
  left: 0;
  margin-top: 1rem;
}

.consultation {
  position: relative;
  overflow: hidden;
}

.consultation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: skewY(4deg);
  background-color: #3a89c9;
  transform-origin: top left;
  top: 0;
  left: 0;
  margin-top: 1rem;
}

.consultation > div {
  position: relative;
  z-index: 10;
}

.illustration {
  width: 20rem;
}

.bg-weird-blue {
  background-color: #F7F9FC;
}

.bg-almost-white {
  background-color: #FCFCFC;
}

.bg-learnk8s-blue {
  background-color: #3a89c9;
}

.footer .icon {
  fill: white;
}

.absolute-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

@media #{$breakpoint-not-small} {
  .intro::before {
    height: calc(100% + 8rem);
    transform: skewY(-29deg);
  }
  .intro.course::before {
    height: calc(100% + 4rem);
  }
  .intro.contact-us::before {
    max-height: 100%;
    height: 100%;
    transform: skewY(-5deg);
  }
  .illustration {
    width: 25rem;
  }
  .interlude::before {
    margin-top: 2rem;
  }
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
  .intro::before {
    max-height: calc(100% + 23rem);
    height: calc(100% + 22vw);
  }
  .intro.course::before {
    max-height: calc(100% + 16rem);
    height: calc(100% + 15vw);
  }
  .intro.contact-us::before {
    max-height: 100%;
    height: 100%;
    transform: skewY(-5deg);
  }
  .illustration {
    width: 40rem;
  }
  .interlude::before {
    margin-top: 3rem;
  }
  .consultation::before {
    transform: skewY(2deg);
  }
}

