---
layout: default
title: Blog
open_graph:
  title: Blog
  description: The fastest way to become an expert in deploying applications at scale with Kubernetes.
  type: product
  image: /assets/open_graph_preview.png
---

<div class="intro contact-us white pt3 pt0-ns pb2 pb4-ns">

  {% include navbar/index.html %}

  <section class="hero ph5-l">
    <div class="w-100">
      <h1 class="f1 pl3 pl4-ns f-subheadline-l">Latest posts</h1>
    </div>
  </section>
</div>


<section class="ph3 measure-wide pv4 center">
  <ul class="list pl0">
    {% for post in site.blog limit:site.post_limit %}
      <li class="pv3">
        <h2 class="mb0"><a href="{{ post.url | replace: "index", "" }}" class="link navy">{{ post.title }}</a></h2>
        <p class="black-40 mt1">{{ post.date | date: '%B %d, %Y' }}</p>
        <p class="lh-copy black-70">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
      </li>
    {% endfor %}
  </ul>
</section>

{% assign remaining_posts = site.blog | size | minus:site.post_limit %}
{% if remaining_posts > 0 %}
<section class="consultation white flex-l items-end-l justify-around-l bb b--lightest-blue">
  <div class="pt5 ph3">
    <h3 class="normal mb1">There're {{ remaining_posts }} more posts in the archive</h3>
    <h2 class="f2 mt0">Check out all the articles</h2>
  </div>
  <div class="ph3 pb4">
    <a href="/archive" class="link dib blue bg-white br1 pa3 b f5 shadow-3 ph4">Read now &#8594;</a>
  </div>
</section>
{% endif %}

{% include footer/index.html %}