---
layout: default
title: Contact us
blocks:
  - title: Sales
    description: We'd love to talk about how we can work together.
    call_to_action: Contact sales &#8594;
    link_call_to_action: "mailto:sales@learnk8s.io"
    image: line_chart.svg
  - title: Help & support
    description: We're here to help with any question or code.
    call_to_action: Contact support &#8594;
    link_call_to_action: "mailto:support@learnk8s.io"
    image: sales.svg
  - title: Media & press
    description: Get learnk8s news, company info, and media resources.
    call_to_action: Contact us &#8594;
    link_call_to_action: "mailto:hello@learnk8s.io"
    image: square_logo.svg
open_graph:
  title: Contact us
  description: Get in touch and let us know how we can help.
  type: business.business
  image: /assets/open_graph_preview.png
---

<div class="trapezoid-1 white pt3 pt0-ns pb2 pb4-ns">

  {% include navbar/index.html %}

  <section class="ph5-l">
    <div class="w-100">
      <h1 class="f1 pl3 pl4-ns f-subheadline-l">Contact us</h1>
      <h2 class="f4 normal measure-narrow lh-copy ph3 ph4-ns f3-l">Get in touch and let us know how we can help.</h2>
    </div>
    <ul class="list pl0 flex-l items-start-l justify-around-l ph3">
      {% for block in page.blocks %}
      <li class="bg-white br2 relative pt4 w-100 mw6-m center-m w-30-l mv5">
        <div class="w3 bg-white br-100 shadow-1 absolute top--2 left-0 absolute-center">{% include_relative {{ block.image }} %}</div>
        <h2 class="navy normal tc">{{ block.title }}</h2>
        <p class="lh-copy black-70 ph4 measure-narrow">{{ block.description }}</p>
        <div class="tc bg-evian br2 br--bottom pv3"><a href="{{ block.link_call_to_action }}" class="link navy b">{{ block.call_to_action }}</a></div>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>

<section class="w-100 cf pv3 pv4-m pv5-l ph3">
  <div class="left fl-ns w-50-ns tc mv4 ph3">
    <h2 class="navy">Join us on Slack <span class="w2 dib v-mid"><img inline src="/contact-us/slack_in_colours.svg" alt="Slack"></span></h2>
    <p class="measure black-70 center">If you have technical questions, chat live with developers in #dev. <a href="https://learnk8s-slack-invite.herokuapp.com" class="link underline navy">Join now</a></p>
  </div>
  <div class="right fl-ns w-50-ns tc bl-ns b--light-gray mv4 ph3">
    <h2 class="navy">General communication</h2>
    <p class="measure black-70 center">For general queries, including partnership opportunities, please email <a href="mailto:hello@learnk8s.io" class="link navy underline">hello@learnk8s.io</a>.</p>
  </div>
</section>

{% include consultation/index.html %}

{% include footer/index.html %}