.powershell {
  background: #012456;
  color: #f8f8f2;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.powershell::-moz-selection, .powershell ::-moz-selection,
.powershell::-moz-selection, .powershell ::-moz-selection {
  background:#2f7289;
}

.powershell::selection, .powershell ::selection,
.powershell::selection, .powershell ::selection {
  background:#2f7289;
}

.powershell .token.comment,
.powershell .token.prolog,
.powershell .token.doctype,
.powershell .token.cdata {
  color: #6272a4; }

.powershell .token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.powershell .token.property,
.powershell .token.tag,
.powershell .token.constant,
.powershell .token.symbol,
.powershell .token.deleted {
  color: #ff79c6; }

.powershell .token.boolean,
.powershell .token.number {
  color: #bd93f9; }

.powershell .token.selector,
.powershell .token.attr-name,
.powershell .token.string,
.powershell .token.char,
.powershell .token.builtin,
.powershell .token.inserted {
  color: #50fa7b; }

.powershell .token.operator,
.powershell .token.entity,
.powershell .token.url,
.powershell .language-css .token.string,
.powershell .style .token.string,
.powershell .token.variable {
  color: #f8f8f2; }

.powershell .token.atrule,
.powershell .token.attr-value,
.powershell .token.function,
.powershell .token.class-name {
  color: #f1fa8c; }

.powershell .token.keyword {
  color: #8be9fd; }

.powershell .token.regex,
.powershell .token.important {
  color: #ffb86c; }

.powershell .token.important,
.powershell .token.bold {
  font-weight: bold; }

.powershell .token.italic {
  font-style: italic; }

.powershell .token.entity {
  cursor: help; }

.powershell .highlight {
  background: #ffe6c3
}

.powershell .highlight,
.powershell .standard {
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  min-width: 100%;
  box-sizing: border-box;
}

.powershell .command,
.powershell .output {
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  min-width: 100%;
  box-sizing: border-box;
}

.powershell .code .prompt {
  text-indent: 2em;
  position: relative;
}

.powershell .code .prompt:before {
  position: absolute;
  top: 0;
  left: 0em;
  content: 'PS>';
}

.powershell .code .prompt.active:after {
  content: ' _';
}
.powershell .code .prompt.empty:after {
  content: '_';
}

.powershell .code .prompt.active:after,
.powershell .code .prompt.empty:after,
.powershell .blinking-cursor {
  -webkit-animation: 1s powershell-blink step-end infinite;
  -moz-animation: 1s powershell-blink step-end infinite;
  -ms-animation: 1s powershell-blink step-end infinite;
  -o-animation: 1s powershell-blink step-end infinite;
  animation: 1s powershell-blink step-end infinite;
}

@keyframes powershell-blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes powershell-blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes powershell-blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes powershell-blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes powershell-blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: white;
  }
}