<div class="tweet b--solid b--light-gray bw1 pa3">
  <div class="dib fl">
    <div class="avatar dib">
      <img class="br-100 mw3" src="{{ include.avatar }}" alt="{{ include.full_name }}">
    </div>
    <div class="dib pl2 tl">
      <span class="fw9 full-name">{{ include.full_name }}</span>
      <br><span class="username">@{{ include.user }}</span>
    </div>
  </div>

  <div class="fr">
    <span>
      <a href="{{ include.url }}"><span class="favicon">{% include twitter/twitter-bird-blue.svg %}</span></a>
    </span>
  </div>
  <div class="cf">
  </div>
  <div>
      <p class="tl fw5">{{ include.text }}</p>
      {% if include.image && include.image != '' %}
      <img src="{{ include.image }}" alt=""> {% endif %}
      <p class="tl black-50 date">{{ include.date | date: '%B %d, %Y' }}</p>
  </div>
</div>
