---
layout: default
title: Newsletter

contributors:
  - name: Daniele Polencic
    github: danielepolencic
    twitter: danielepolencic
    linkedin: danielepolencic
    avatar: /about-us/daniele_polencic.jpg
  - name: Miriam Menegatti
    linkedin: miriam-menegatti-46263915
    avatar: /about-us/miriam_menegatti.jpg
  - name: Alessandro Moretti
    linkedin: alemoretti
    avatar: /about-us/alessandro_moretti.jpg

---

<div id="newsletter-landing">
  <div class="intro contact-us white pt3 pt0-ns pb2 pb6-ns">
    {% include navbar/index.html %}
    <section class="hero ph5-l">
      <div class="w-100 tc mt4">
        <h1 class="f1 f-subheadline-l">Learn k8s newsletter</h1>
        <p class="tc w-50-l w-70 center f2-l f4 lh-title">Sign up for curated Kubernetes news, article and resources, delivered straight to your inbox every Sunday evening.</p>
      </div>
      <div id="subscription-form" class="w-40-l w-60 tc center mb5 mt5 mt0-l">
        {% include newsletter/subscription/form.html %}
      </div>
    </section>
  </div>

  <div class="w-80 center">
    {% include_relative browser.svg %}
    {% include newsletter/issue-preview/preview.html %}
  </div>

  {% if site.newsletter.size > 1 %}
  <section class="center tc">
    <p class="f3-l black-70">Missed an issue?
      <span class="ml4">
        <a href="/newsletter-archive" class="archive-link link dib white br2 pa3 ph4 b mv3">Check out the archive &#8674;</a>
      </span>
    </p>
  </section>
  {% endif %}

  <section id="contributors" class="center tc mt6-l mt5">
    <h2 class="f2 mt4">Curated by learnk8s and people like you!</h2>
    {% if page.contributors %} {% include newsletter/contributors/static.html %} {% endif %}
  </section>

  <section class="center tc mt4 mb4">
    <a href="mailto:news@learnk8s.io?subject=Link Submission" class="archive-link link dib white br2 pa3 ph4 b mv3">Submit a link &#8674;</a>
  </section>

{% include consultation/index.html %}

{% include footer/index.html %}
</div>