---
layout: default
title: Newsletter

contributors:
  - name: Daniele Polencic
    github: danielepolencic
    twitter: danielepolencic
    linkedin: danielepolencic
    avatar: /about-us/daniele_polencic.jpg
  - name: Miriam Menegatti
    linkedin: miriam-menegatti-46263915
    avatar: /about-us/miriam_menegatti.jpg
  - name: Alessandro Moretti
    linkedin: alemoretti
    avatar: /about-us/alessandro_moretti.jpg
---

Newsletter landing page.


<section id="subscription-form">
  {% include newsletter/subscription/form.html %}
</section>

<section id="issue-preview">
  {% include newsletter/issue-preview/preview.html %}
</section>

<a href="/newsletter-archive" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Check out the archive --></a>

<section id="contributors">
  {% if page.contributors %}
  {% include newsletter/contributors/static.html %}
  {% endif %}
</section>


<a href="maito:news@learnk8s.io?subject=Reader Submission" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Submit a link --></a>
