<form action="https://learnk8s.us19.list-manage.com/subscribe/post" method="POST" class="relative">
  <ol class="list pl0">
    <li>
      <input type="hidden" name="u" value="2f82ec7d5caaa9ced71141211">
    </li>
    <li>
      <input type="hidden" name="id" value="8ecff1a8cf">
    </li>
    <li>
      <label for="MERGE1" class="db tl ttu pb2 fw6">Your first name</label>
      <input class="pa3 w-100 br3 input-reset b--none" type="text" name="MERGE1" id="MERGE1" size="25" value="" placeholder="Your first name">
    </li>
    <li class="mt4">
      <label for="MERGE0" class="db tl ttu pb2 fw6">Your email address</label>
      <input class="pa3 w-100 br3 input-reset b--none" type="email" required="required" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="Your email address">
      <p class="f7 tl">We'll never share your email address and you can opt out at any time.</p>
    </li>
  </ol>
  <button class="link dib blue bg-white br2 pa3 b f3-ns mt2 ml3-l ph5 mb3 b--none submit" type="submit">Subscribe ⇢</button>
  <p class="success absolute bottom mt1 w-100 bg-light-green pa2 dark-green b--dark-green bw1 b--solid dn">Thank you for subscribing!</p>
  <p class="failure absolute bottom mt1 w-100 bg-light-red pa2 black b--dark-red bw1 b--solid dn">Invalid email.</p>
</form>
<script>
var form = document.querySelector('form');
var success = document.querySelector('.success');
var failure = document.querySelector('.failure');
form.addEventListener('submit', function(event) {
  success.classList.add('dn');
  failure.classList.add('dn');
  event.preventDefault();
  var email = (form.querySelector('#MERGE0').value + '').trim();
  if (email === '' || !/\w+@\w+\.\w{2,10}/gi.test(email)) {
    return failure.classList.remove('dn');
  }
  var firstname = (form.querySelector('#MERGE1').value + '').trim();
  var url = form.getAttribute('action');
  var u = form.querySelector('[name=u]').value;
  var id = form.querySelector('[name=id]').value;
  var args = [
    'id=' + encodeURIComponent(id),
    'u=' + encodeURIComponent(u),
    'EMAIL=' + encodeURIComponent(email),
    'FNAME=' + encodeURIComponent(firstname),
  ];
  submit('https://learnk8s.us19.list-manage.com/subscribe/post-json?' + args.join('&'));
  success.classList.remove('dn');
});
function submit(url) {
  var request = new XMLHttpRequest();
  request.open('GET', url, true);
  request.send();
}
</script>