<!-- SendinBlue Signup Form HTML Code -->


<div id="sib_embed_signup">
  <div class="forms-builder-wrapper">
    <input type="hidden" id="sib_embed_signup_lang" value="en">
    <input type="hidden" id="sib_embed_invalid_email_message" value="That email address is not valid. Please try again.">
    <input type="hidden" name="primary_type" id="primary_type" value="email">
    <form class="description" id="theform" name="theform" action="https://my.sendinblue.com/users/subscribeembed/js_id/36b2x/id/1"
      onsubmit="return false;">
      <input type="hidden" name="js_id" id="js_id" value="36b2x">
      <input type="hidden" name="listid" id="listid" value="4">
      <input type="hidden" name="from_url" id="from_url" value="yes">
      <input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
      <div class="sib-container rounded ui-sortable">
        <input type="hidden" name="req_hid" id="req_hid" value="" style="font-size: 13px;">
        <div class="view-messages" style=" margin:5px 0;">
        </div>
        <!-- an email as primary -->
        <div class="primary-group email-group forms-builder-group ui-sortable" style="">
          <div class="row" style="padding: 10px 20px; font-size: 17px; position: relative; left: 0px; top: 0px;">
            <div class="lbl-tinyltr" style="clear:both; float:none;">Name</div>
            <input type="text" name="FIRSTNAME" id="FIRSTNAME" value="" style="padding: 10px 2%; width: 90%; min-width: auto;">
            <div class="clear" style="clear:both;"></div>
            <div class="hidden-btns">
              <a class="btn move" href="#">
                <i class="fa fa-arrows"></i>
              </a>
              <br>
              <a class="btn btn-danger delete" href="#">
                <i class="fa fa-trash-o fa-inverse"></i>
              </a>
            </div>
          </div>
          <div class="row mandatory-email" style="padding: 10px 20px; position: relative; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 17px;">
            <div class="lbl-tinyltr" style="clear: both; float: none; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;">Enter your email address to subscribe.
              <red style="color:#ff0000;">*</red>
            </div>
            <input type="text" name="email" id="email" value="" style="padding: 10px 2%; width: 90%; min-width: auto;">
            <div style="clear:both;"></div>
            <div class="hidden-btns">
              <a class="btn move" href="#">
                <i class="fa fa-arrows"></i>
              </a>
              <br>
              <!--<a class="btn btn-danger delete" href="#"><i class="fa fa-trash-o fa-inverse"></i></a>-->
            </div>
          </div>
        </div>
        <!-- end of primary -->
        <div class="byline">
          <button class="button editable " type="submit" data-editfield="subscribe">Subscribe</button>
        </div>
        <div style="clear:both;"></div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript"> var sib_prefix = 'sib'; var sib_dateformat = 'mm-dd-yyyy'; </script>
<script type='text/javascript'>
  {% include newsletter/subscription/validate.js %}
</script>
<!-- End : SendinBlue Signup Form HTML Code -->