---
---
@import 'tachyons-sass/tachyons.scss';
@import '../_blog/deploying-laravel-to-kubernetes/style.scss';

.logo {
  fill: white;
}

.intro,
.hero,
.nav,
.content {
  position: relative;
  z-index: 10;
}

.intro::before {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #3a89c9 0%, #66a3d5 100%);
  transform: skewY(-9deg);
  transform-origin: bottom left;
}

.intro.none::before {
  height: 100% !important;
  max-height: 100% !important;
  transform: skewY(0) !important;
}

.illustration-containers {
  left: -100%;
  bottom: 6em;
}

.interlude {
  position: relative;
  overflow: hidden;
}

.interlude .illustration {
  position: relative;
  z-index: 10;
}

.interlude::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: skewY(-5deg);
  background-color: #3a89c9;
  transform-origin: top right;
  top: 0;
  left: 0;
  margin-top: 1rem;
}

.consultation {
  position: relative;
  overflow: hidden;
}

.consultation::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  transform: skewY(4deg);
  background-color: #3a89c9;
  transform-origin: top left;
  top: 0;
  left: 0;
  margin-top: 1rem;
}

.consultation > div {
  position: relative;
  z-index: 10;
}

.illustration {
  width: 20rem;
}

.bg-weird-blue {
  background-color: #F7F9FC;
}

.bg-almost-white {
  background-color: #FCFCFC;
}

.bg-learnk8s-blue {
  background-color: #3a89c9;
}

.absolute-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

@media #{$breakpoint-not-small} {
  .intro::before {
    height: calc(100% + 8rem);
    transform: skewY(-29deg);
  }
  .intro.course::before {
    height: calc(100% + 4rem);
  }
  .intro.contact-us::before,
  .intro.about-us::before,
  .intro.careers::before {
    max-height: 100%;
    height: 100%;
    transform: skewY(-5deg);
  }
  .illustration {
    width: 25rem;
  }
  .interlude::before {
    margin-top: 2rem;
  }
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
  .intro::before {
    max-height: calc(100% + 23rem);
    height: calc(100% + 22vw);
  }
  .intro.course::before {
    max-height: calc(100% + 16rem);
    height: calc(100% + 15vw);
  }
  .intro.contact-us::before,
  .intro.about-us::before,
  .intro.careers::before {
    max-height: 100%;
    height: 100%;
    transform: skewY(-5deg);
  }
  .illustration {
    width: 40rem;
  }
  .interlude::before {
    margin-top: 3rem;
  }
  .consultation::before {
    transform: skewY(2deg);
  }
}

.article {
  @extend .lh-copy, .black-70, .f4, .measure-wide, .center;

  > h1, > h2, > h3, > h4, > h5, > h6 {
    @extend .navy, .lh-title, .pt4, .pb1;
  }

  > p, > ul, > ol {
    @extend .lh-copy, .f4, .serif;
  }

  > a {
    @extend .navy, .link, .underline;
  }

  pre.highlight {
    @extend .br2, .pa3, .f5;
    overflow: scroll;
  }

  p > code,
  li > code {
    @extend .bg-near-white, .pa1, .br2, .ba, .b--black-20, .f5;
  }

  blockquote {
    @extend .bl, .pl3, .bw2, .b--black-20;
  }

  table {
    @extend .w-100;

    tr th:first-child {
      @extend .tl;
    }
  }
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}

/* Solarized Light
For use with Jekyll and Pygments
http://ethanschoonover.com/solarized
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight { background-color: #fdf6e3; color: #586e75 }
.highlight .c { color: #93a1a1 } /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #93a1a1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.slide-up{
  height: 60px;
  transition: all .3s ease-out;
}

.slide-down{
  height: 0;
  transition: all .3s ease-out;
}

#social-share-container{
  display: none;

  ul{
    list-style-type: none;
  }
}

.sm-transform {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

.sm-floating{
  position: fixed;
  top:30%;
  left: 15%;
}



@media screen and (max-width: 768px){
  #social-share-container {
    display: none !important;
  }
}

@media screen and (max-width: 1024px){
  .sm-floating{
    left: 0 !important;
  }
}

@media screen and (min-width: 1024px){
  .hidden-md{
    display: none !important;
  }
}

#bottom-social-share-container{
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  border-top: 1px solid #586e75;
  width: 100%;
  margin: 0;
  z-index: 1000;
  transition: all .3s ease-out;
  max-height: 60px;
  text-align: right;
  padding: 0 20px 0 0;

  ul li{
    display: inline-block;
  }
}

#newsletter-issue {
  section{
    .tag{
      font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
      font-size: 0.75rem
    }
    h2{
      color: #D53960;
      font-size: 1rem;
    }
    h3{
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: 0;
    }
    a{
      color: #568EC7;
      font-size: 1rem
    }
    .favicon{
      width: 1.5rem;
      top: 0.35rem;
    }
    p{
      font-family: sans-serif;
    }
  }
}

.gh-badges{
  a{
    color: #000000 !important;
    text-decoration: none;
    font-weight: bold;
  }
  .favicon{
    top: 0.05rem !important;
    position: relative;
  }
}

.meme{
  background: #DEECF9;
  img{
    max-width: 80%;
  }
}

.tweet-this{
  a{
     color: #ffffff !important;
     text-decoration: none;
  }
  a:visited {
     color: #ffffff !important;
  }
  a:hover{
    color: #ffffff !important;
  }
  .favicon{
    position: relative;
    top: 0.3rem;
  }
}

.twitter-blue{
  background-color: #4E89C4;
}

.tweet{
  .username{
    font-size: 1rem;
    position: relative;
    bottom: 1rem;
  }
  .full-name{
    position: relative;
    top: -0.5rem;
  }
  .date{
    font-size: 1rem;
  }
}

#popular-tweets{
  .favicon {
    position: relative;
    top: 0.2rem
  }
}

#share{
  h2{
    padding-top: 0;
  }
  h3{
    padding-top: 0;
  }
  p {
    font-family: sans-serif;
  }
}

.archive-link{
  font-size: 1.5rem;
  background-color: #4E89C4;
}

@media screen and (max-width: 60em) and (min-width: 30em) {
#newsletter-issue {
    .mh2-m {
      margin-left: .5rem !important;
      margin-right: .5rem !important;
    }
  }
}

#newsletter-landing{
  #contributors{
    h2{
      color: #001b44;
    }
  }
  #sib_embed_signup{
    input{
      height: 3rem;
    }
    .blue{
      color: #4E89C4;
    }
    button{
      cursor: pointer;
    }
    .subscribe-button{
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .message_area{
      text-align: left;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
    .close{
      margin-right: 1rem;
      border: none;
      background: none;
    }
  }
}


@media screen and (max-width: 60em) and (min-width: 30em) {
  .archive-link{
    font-size: 1rem;
  }
}

@media screen and (max-width: 30em) {
  #sib_embed_signup{
    .subscribe-button{
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
    }
  }
  .archive-link{
    font-size: 1rem;
  }
}