---
---
@import 'tachyons-sass/tachyons.scss';
@import '../_blog/kubernetes-deploy-laravel-the-easy-way/style.scss';

$sky: #569AD1;
$evian: #F7F9FC;

.sky {
  color: $sky
}

.bg-sky {
  background-color: $sky
}

.b--sky {
  border-color: $sky
}

.bg-evian {
  background-color: $evian
}

.bg-black-02 {
  background-color: rgba(0, 0, 0, 0.02)
}

.trapezoid-1,
.trapezoid-2,
.trapezoidr-1 {
  position: relative;
  z-index: 0;
  background-color: transparent;
}

.trapezoid-1::after,
.trapezoid-2::after,
.trapezoidr-1::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  content: ' ';
  background-size: cover;
  background-repeat: no-repeat;
}

.trapezoid-2::after {
  background-position: left bottom;
  height: 155%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMax slice' viewBox='0 0 100 200'%3E%3Cpolygon points='100 0 0 0 0 200 100 142 100 0' fill='%23569ad1'/%3E%3C/svg%3E");
}

.trapezoid-1::after {
  background-position: left bottom;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMax slice' viewBox='0 0 100 200'%3E%3Cpolygon points='100 0 0 0 0 200 100 190 100 0' fill='%23569ad1'/%3E%3C/svg%3E");
}

.trapezoidr-1::after {
  background-position: left top;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMax slice' viewBox='0 0 100 200'%3E%3Cpolygon points='100,4 0,0 0,200 100,200' fill='%23569ad1'/%3E%3C/svg%3E");
}

@media #{$breakpoint-large} {
  .trapezoid-2-l {
    position: relative;
    z-index: 0;
    background-color: transparent;
  }
  .trapezoid-2-l::after {
    background-position: left bottom;
    height: 155%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMax slice' viewBox='0 0 100 200'%3E%3Cpolygon points='100 0 0 0 0 200 100 142 100 0' fill='%23569ad1'/%3E%3C/svg%3E");
  }
}

.triangle-1 {
  position: relative;
  z-index: 1
}

.triangle-1::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: right bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='%23569AD1' height='100px' width='100px' points='0,100 100,0 100,100'/%3E%3C/svg%3E");
  top: 0;
  left: 0;
}

$illustration_ratio: 0.1;

@function multiply($value1, $value2) {
  @return $value1 * $value2;
}

.i-medium-cargo {
  width: #{multiply($illustration_ratio, 150)}rem;
  height: 0;
  padding-bottom: 80%;
}
.i-loading-cargos {
  width: #{multiply($illustration_ratio, 350)}rem;
  height: 0;
  padding-bottom: 100%;
}
.i-training {
  width: #{multiply($illustration_ratio, 350)}rem;
  height: 0;
  padding-bottom: 100%;
}
.i-together {
  width: #{multiply($illustration_ratio, 175)}rem;
  height: 0;
  padding-bottom: 154.28%;
}
.i-containers {
  width: #{multiply($illustration_ratio, 150)}rem;
  height: 0;
  padding-bottom: 46.67%;
}
.i-cat-and-dog {
  width: #{multiply($illustration_ratio, 130)}rem;
  height: 0;
  padding-bottom: 84.61%;
}
.i-whiteboard {
  width: #{multiply($illustration_ratio, 100)}rem;
  height: 0;
  padding-bottom: 148.75%;
}
.i-team {
  width: #{multiply($illustration_ratio, 150)}rem;
  height: 0;
  padding-bottom: 100%;
}
.i-small-cargo {
  width: #{multiply($illustration_ratio, 110)}rem;
  height: 0;
  padding-bottom: 81.82%;
}
.i-more-cargo-loading {
  width: #{multiply($illustration_ratio, 110)}rem;
  height: 0;
  padding-bottom: 63.07%;
}
.i-cloud-providers {
  width: 30rem;
  height: 0;
  padding-bottom: 75%;
}

.reverse-dim {
  opacity: 0.7;
  transition: opacity 0.5 ease-in;
}
.reverse-dim:hover {
  opacity: 1;
}

.illustration-containers {
  left: -100%;
  bottom: 6em;
}

.illustration {
  width: 20rem;
}

.absolute-center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.ribbon {
  position: relative;
}

.ribbon::after {
  position: absolute;
  top: -1em;
  left: -2em;
  content: 'NEW!';
  background-color: #FF4136;
  color: white;
  padding: 0.125em;
  transform: rotate(-25deg);
  font-weight: bold;
  border-radius: 0.125em;
}

@media #{$breakpoint-not-small} {
  .illustration {
    width: 25rem;
  }
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
  .illustration {
    width: 40rem;
  }
  .consultation::before {
    transform: skewY(2deg);
  }
}

.article {
  @extend .lh-copy, .black-70, .f4, .measure-wide, .center;

  > h1, > h2, > h3, > h4, > h5, > h6 {
    @extend .navy, .lh-title, .pt4, .pb1;
  }

  > p, > ul, > ol {
    @extend .lh-copy, .f4, .serif;
  }

  > a {
    @extend .navy, .link, .underline;
  }

  pre.highlight {
    @extend .br2, .pa3, .f5;
    overflow: scroll;
  }

  p > code,
  li > code {
    @extend .bg-near-white, .pa1, .br2, .ba, .b--black-20, .f5;
  }

  > blockquote {
    @extend .bl, .pl3, .bw2, .b--black-20;
  }

  table {
    @extend .w-100;

    tr th:first-child {
      @extend .tl;
    }
  }
}

@media #{$breakpoint-medium} {
}

@media #{$breakpoint-large} {
}

/* Solarized Light
For use with Jekyll and Pygments
http://ethanschoonover.com/solarized
SOLARIZED HEX      ROLE
--------- -------- ------------------------------------------
base01    #586e75  body text / default code / primary content
base1     #93a1a1  comments / secondary content
base3     #fdf6e3  background
orange    #cb4b16  constants
red       #dc322f  regex, special keywords
blue      #268bd2  reserved keywords
cyan      #2aa198  strings, numbers
green     #859900  operators, other keywords
*/

.highlight { background-color: #fdf6e3; color: #586e75 }
.highlight .c { color: #93a1a1 } /* Comment */
.highlight .err { color: #586e75 } /* Error */
.highlight .g { color: #586e75 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #586e75 } /* Literal */
.highlight .n { color: #586e75 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #cb4b16 } /* Other */
.highlight .p { color: #586e75 } /* Punctuation */
.highlight .cm { color: #93a1a1 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #93a1a1 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2aa198 } /* Generic.Deleted */
.highlight .ge { color: #586e75; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #dc322f } /* Generic.Error */
.highlight .gh { color: #cb4b16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #586e75 } /* Generic.Output */
.highlight .gp { color: #586e75 } /* Generic.Prompt */
.highlight .gs { color: #586e75; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #cb4b16 } /* Generic.Subheading */
.highlight .gt { color: #586e75 } /* Generic.Traceback */
.highlight .kc { color: #cb4b16 } /* Keyword.Constant */
.highlight .kd { color: #268bd2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268bd2 } /* Keyword.Reserved */
.highlight .kt { color: #dc322f } /* Keyword.Type */
.highlight .ld { color: #586e75 } /* Literal.Date */
.highlight .m { color: #2aa198 } /* Literal.Number */
.highlight .s { color: #2aa198 } /* Literal.String */
.highlight .na { color: #586e75 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268bd2 } /* Name.Class */
.highlight .no { color: #cb4b16 } /* Name.Constant */
.highlight .nd { color: #268bd2 } /* Name.Decorator */
.highlight .ni { color: #cb4b16 } /* Name.Entity */
.highlight .ne { color: #cb4b16 } /* Name.Exception */
.highlight .nf { color: #268bd2 } /* Name.Function */
.highlight .nl { color: #586e75 } /* Name.Label */
.highlight .nn { color: #586e75 } /* Name.Namespace */
.highlight .nx { color: #586e75 } /* Name.Other */
.highlight .py { color: #586e75 } /* Name.Property */
.highlight .nt { color: #268bd2 } /* Name.Tag */
.highlight .nv { color: #268bd2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #586e75 } /* Text.Whitespace */
.highlight .mf { color: #2aa198 } /* Literal.Number.Float */
.highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
.highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
.highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
.highlight .sb { color: #93a1a1 } /* Literal.String.Backtick */
.highlight .sc { color: #2aa198 } /* Literal.String.Char */
.highlight .sd { color: #586e75 } /* Literal.String.Doc */
.highlight .s2 { color: #2aa198 } /* Literal.String.Double */
.highlight .se { color: #cb4b16 } /* Literal.String.Escape */
.highlight .sh { color: #586e75 } /* Literal.String.Heredoc */
.highlight .si { color: #2aa198 } /* Literal.String.Interpol */
.highlight .sx { color: #2aa198 } /* Literal.String.Other */
.highlight .sr { color: #dc322f } /* Literal.String.Regex */
.highlight .s1 { color: #2aa198 } /* Literal.String.Single */
.highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
.highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268bd2 } /* Name.Variable.Class */
.highlight .vg { color: #268bd2 } /* Name.Variable.Global */
.highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
.highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */

.subscribe {
  position: relative;
}
.subscribe:after {
  position: absolute;
  left: 0;
  top: -2em;
  font-size: 0.75em;
  content: "Caution: shameless plug ahead! Continue reading below ↓"
}

.caution {
  margin-top: 2em !important;
  @extend .relative;
}
.caution:after {
  left: 0;
  top: 0;
  font-size: 0.5em;
  content: "↓ Caution: shameless plug ahead! ↓";
  font-weight: normal;
  @extend .black-70, .absolute;
}

.module .details.toggle-collapse {
  height: 0;
  max-height: 0;
  overflow: hidden;
}

.controls .close {
  display: inline-block;
}

.controls .open {
  display: none;
}

.module .controls.toggle-collapse .close {
  display: none;
}
.module .controls.toggle-collapse .open {
  display: inline-block;
}

.events .europe,
.events .america,
.events .asia {
  display: none;
}

#america:checked ~ .legend .america,
#all:checked ~ .legend .all,
#europe:checked ~ .legend .europe,
#asia:checked ~ .legend .asia {
  font-weight: bold;
  color: white;
  background-color: #3a89c9;
  border-bottom-color: #19507C;
}

#all:checked ~ .events li,
#america:checked ~ .events .america,
#europe:checked ~ .events .europe,
#asia:checked ~ .events .asia {
  display: block;
}

.padding-hack-75 {
  height: 0;
  padding-bottom: 75%;
}

.padding-hack-100 {
  height: 0;
  padding-bottom: 100%;
}