---
layout: default
---

<div class="intro contact-us white pt3 pt0-ns pb2 pb4-ns">

  {% include navbar.html %}

  <section class="hero ph5-l">
    <div class="w-100">
      <h1 class="f1 pl3 pl4-ns f-subheadline-l">Almost there!</h1>
      <h2 class="f4 normal measure-narrow lh-copy ph3 ph4-ns f3-l pb4">We're almost done recording all the videos - they're not ready as of now.</h2>
    </div>
  </section>
</div>

<section class="ph3 measure-wide pv4 center">
  <h3 class="f3 f2-l navy">The course will be ready soon!</h3>
  <p class="lh-copy black-70">We're working hard on completing the online course. If you want to be the first to know when it's available, please leave your email in the box below:</p>
  <form name="contact" netlify>
    <label for="email" class="navy b db mb2">Email</label>
    <input id="email" class="input-reset ba b--black-20 pa2 mb2 db w-100 br2" type="text" aria-describedby="name-desc">
    <button type="submit" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Get notified &#8594;</button>
  </form>
</section>

{% include consultation.html %}

{% include footer.html %}