<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="We help your team adopt Kubernetes, through consulting and corporate or public training. leanrk8s enables you to get the most out of Kubernetes through comprehensive training and consultancy solutions.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta httpEquiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png"/>
    <link rel="manifest" href="/assets/manifest.json"/>
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#326ce5"/>
    <meta name="theme-color" content="#ffffff"/>
    <style type="text/css">
      {% capture critical %}
        {% include style.scss %}
      {% endcapture %}
      {{ critical | scssify }}
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-485266-17"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-485266-17');
    </script>
    <title>{{ site.name }}</title>
  </head>
  <body class="bg-near-white sans-serif">
    <div class="cf w-100 mw9-l center bg-white">
    {{ content }}
    </div>
  </body>
</html>
