---
layout: default
---
<div class="intro none white pv2 pv0-ns mb4 mb5-ns">
  {% include navbar/index.html %}
</div>

<aside class="sm-transform sm-floating w4 hidden-sm hidden-xs" id="social-share-container">
  {% include social-share/index.html %}
</aside>
<script>
  {% for js in page.js %}
    {% include_relative {{js}} %}
  {% endfor %}
  {% include social-share/socialSharing.js %}
</script>

<div class="tc mb4 db mw4 center" id="author-blurb">
  {% include author-blurb/index.html %}
</div>
<article class="ph3 pt0 pb4 article">
  <h1 class="navy tc f2 f1-ns">{{ page.title }}</h1>
  {% if page.image %}
  <img src="{{ page.image }}" alt="{{ page.title }}">
  <hr class="w3 center b--navy mv4 mb5-ns">
  {% else %}
  <hr class="w3 center b--navy mv4 mv5-ns">
  {% endif %}
  {{ content }}
</article>

{% if page.has_cta %}
  {% include subscribe_now/index.html %}
{% endif %}

{% include footer/index.html %}

<section class="hidden-md" id="bottom-social-share-container">
    {% include social-share/index.html %}
</section>