---
layout: default
title: Careers
open_graph:
  title: Careers
  description: Help others learn Kubernetes.
  type: product
  image: /assets/open_graph_preview.png
---

<div class="trapezoid-1 white pt3 pt0-ns pb2 pb4-ns">

  {% include navbar/index.html %}

  <section class="hero ph5-l">
    <div class="w-100">
      <h1 class="f1 pl3 pl4-ns f-subheadline-l">Careers</h1>
      <h2 class="f4 normal measure-narrow lh-copy ph3 ph4-ns f3-l pb4">Help others learn Kubernetes.</h2>
    </div>
  </section>
</div>

<section class="bg-almost-white black-70 relative z-999 w-90-m w-70-l center pa3 pa4-ns mb3 mb5-ns lh-copy">
  <h2 class="navy">Freelance Kubernetes engineer - REMOTE</h2>
  <p>learnk8s is looking for a talented engineer on a freelance basis to help:</p>
  <ul class="">
    <li>create automation scripts for Kubernetes based applications</li>
    <li>authoring and designing training material for educational content</li>
  </ul>
  <h3 class="navy">About you</h3>
  <ul class="">
    <li>You are a talented engineer</li>
    <li>You are experienced in Docker</li>
    <li>You can clearly articulate how to architect applications to best leverage microservices</li>
    <li>You deployed and scaled applications on Kubernetes</li>
    <li>You're patient and understand the value in pair programming and knowledge sharing</li>
    <li>You fluent in either Java, Scala, Python or Node.js</li>
    <li>You use CI/CD on a daily basis and can’t imagine a world without it</li>
  </ul>
  <h3 class="navy">Arrangement & renumeration</h3>
  <p>This is an ongoing REMOTE engagement on a freelance basis. Please get in touch to discuss your rate.</p>
  <h3 class="navy">How to apply</h3>
  <p>Write a deployment for Kubernetes. You can find the details on how to complete the challenge at the following link: <a href="https://github.com/learnk8s/kubernetes-challenge" class="link navy underline">https://github.com/learnk8s/kubernetes-challenge</a>.</p>
  <p>Once you solved the challenge, please send us a link with your repository and a link to your Linkedin profile at <a href="mailto:careers@learnk8s.io" class="link navy underline">careers@learnk8s.io</a>.</p>
  <a href="mailto:careers@learnk8s.io" class="link dib white bg-blue br1 pa3 b f5 shadow-3 mv3">Apply now &#8594;</a>
</section>

{% include consultation/index.html %}

{% include footer/index.html %}