<ul>
    <!-- Share on Facebook -->
    <li>
        <a href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url }}"
           target="_blank" title="Share on Facebook" rel="nofollow"
           onclick="return shareOnFacebook()"><img
                src="/assets/facebook.svg" alt="Facebook icon" class="w2"></a>
    </li>
    <!-- ./ Share on Facebook -->

    <!-- Share on Twitter -->
    <li><a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}"
           target="_blank" rel="nofollow" title="Share on Twitter"
           onclick="return shareOnTwitter()"><img
            src="/assets/twitter.svg" alt="Twitter icon" class="w2"></a></li>
    <!-- ./ Share on Twitter -->

    <!-- Share on Google+ -->
    <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
           target="_blank" title="Share on Google+" rel="nofollow"
           onclick="return shareOnGooglePlus()"><img
            src="/assets/gplus.svg" alt="Google plus icon" class="w2"></a></li>
    <!-- ./ Share on Google+  -->

    <!-- Share on LinkedIn -->
    <li>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.url }}{{ page.url }}"
           title="Share on LinkedIn" target="_blank" rel="nofollow"
           onclick="return shareOnLinkedIn()"><img
                src="/assets/linkedin.svg" alt="LinkedIn icon" class="w2"></a>
    </li>
    <!-- ./ Share on LinkedIn -->

    <!-- Share by Email -->
    <li>
        <a href="mailto:?Subject={{ page.title }}&amp;Body={{ site.url }}{{ page.url }}"
           title="Share by Email"><img
                src="/assets/mail.svg" alt="Email icon" class="w2"></a></li>
    <!-- Share by Email -->
</ul>
