<ul>
  <!-- Share on Facebook -->
  <li>
    <a id="facebook-share"
       href="http://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}"
       target="_blank" title="Share on Facebook" rel="nofollow"
       onclick="return openShareWindow(this, 200, 200)">
      <div class="w2">{% include social-share/facebook.svg %}</div>
    </a>
  </li>
  <!-- ./ Share on Facebook -->

  <!-- Share on Twitter -->
  <li><a id="twitter-share"
         href="https://twitter.com/share?url={{ page.url | absolute_url }}"
         target="_blank" rel="nofollow" title="Share on Twitter"
         onclick="return openShareWindow(this, 400, 400)">
    <div class="w2">{% include social-share/twitter.svg %}</div>
  </a></li>
  <!-- ./ Share on Twitter -->

  <!-- Share on Google+ -->
  <li><a id="google-share"
         href="https://plus.google.com/share?url={{ page.url | absolute_url }}"
         target="_blank" title="Share on Google+" rel="nofollow"
         onclick="return openShareWindow(this)">
    <div class="w2">{% include social-share/gplus.svg %}</div>
  </a></li>
  <!-- ./ Share on Google+  -->

  <!-- Share on LinkedIn -->
  <li>
    <a id="linkedin-share"
       href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | absolute_url }}"
       title="Share on LinkedIn" target="_blank" rel="nofollow"
       onclick="return openShareWindow(this)">
      <div class="w2">{% include social-share/linkedin.svg %}</div>
    </a>
  </li>
  <!-- ./ Share on LinkedIn -->

  <!-- Share by Email -->
  <li>
    <a id="email-share"
       href="mailto:?Subject={{ page.title }}&amp;Body={{ page.url | absolute_url }}"
       title="Share by Email">
      <div class="w2">{% include social-share/mail.svg %}</div>
    </a></li>
  <!-- Share by Email -->
</ul>
