{% if page.author %}
{% assign url_friendly_name = page.author | replace: ' ', '_' | downcase %}
  {% if page.author_link %}
<a href="{{page.author_link}}" title="{{page.author}}" class="link">
  {% else %}
<a href="/about-us#{{url_friendly_name}}" title="{{page.author}}" class="link">
  {% endif %}
    {% if page.author_avatar %}
    <img src="/assets/authors/{{ page.author_avatar }}" alt="" class="br-100 w3 dib">
    {% else %}
    {% assign image = page.author | replace: ' ', '_' | downcase %}
    <img src="/assets/authors/{{ image }}.jpg" alt="" class="br-100 w3 dib">
    {% endif %}
    <span class="black-50 f6 db">{{page.author}}</span>
</a>
{% else %}
<a href="/about-us#daniele_polencic" title="Daniele Polencic"
   class="link">
    <img src="/assets/authors/daniele_polencic.jpg" alt="" class="br-100 w3 dib">
    <span class="black-50 f6 db">Daniele Polencic</span>
</a>
{% endif %}
